<div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Notifications</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <a href="https://themeforest.net/item/elite-admin-responsive-dashboard-web-app-kit-/16750820" target="_blank" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Now</a>
                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Ui Elements</a></li>
                            <li class="active">Notifications</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!--df===========fdf -->
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="white-box">
                            
                            <form id="mainForm" name="mainForm" data-toggle="validator">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="white-box">
                                    <h3 class="box-title m-b-30">Personal</h3>
                                    <div class="form-group row">
                                      <div class="col-3">
                                        <img src="assets/images/profilepic.png" alt="user-img" width="100" class="img-circle mr-3">
                                      </div>
                                      <div class="col-9">
                                        <div class="form-group">
                                          <label for="first_name">First Name</label>
                                          <input type="text" class="form-control" id="first_name" placeholder="First Name" [(ngModel)]="item.name" pattern="^[A-Za-z]+$" name="first_name" #fnameVl="ngModel" required minlength="3" maxlength="100">
                                        <div *ngIf="fnameVl.invalid && (fnameVl.dirty || fnameVl.touched)" class="text-danger">
                                            <p *ngIf="fnameVl.errors.required">First Name is required.</p>
                                            <p *ngIf="fnameVl.errors.minlength">Minimum of 3 characters</p>
                                            <p *ngIf="fnameVl.errors.maxlength">Maximum of 70 characters</p>
                                            <p *ngIf="fnameVl.errors?.pattern">First name must be string.</p>

                                        </div>
                                        </div>
                                        <div class="form-group">
                                          <label for="middel_name">Middle  Name</label>
                                          <input type="text" class="form-control" id="middel_name" placeholder="Middel  Name" [(ngModel)]="item.middel_name" name="middel_name" #mnameVl="ngModel" required minlength="3" maxlength="100" pattern="^[A-Za-z]+$">
                                        <div *ngIf="mnameVl.invalid && (mnameVl.dirty || mnameVl.touched)" class="text-danger">
                                            <p *ngIf="mnameVl.errors.required">Middel Name is required.</p>
                                            <p *ngIf="mnameVl.errors.minlength">Minimum of 3 characters</p>
                                            <p *ngIf="mnameVl.errors.maxlength">Maximum of 70 characters</p>
                                            <p *ngIf="mnameVl.errors?.pattern">Middle name Must be string.</p>
                                        </div>
                                        </div>
                                        <div class="form-group">
                                          <label for="last_name">Last Name</label>
                                          <input type="text" class="form-control" id="last_name" placeholder="Last  Name" [(ngModel)]="item.last_name"  pattern="^[A-Za-z]+$" name="last_name" #lnameVl="ngModel" required minlength="3" maxlength="100">
                                        <div *ngIf="lnameVl.invalid && (lnameVl.dirty || lnameVl.touched)" class="text-danger">
                                            <p *ngIf="lnameVl.errors.required">Last Name is required.</p>
                                            <p *ngIf="lnameVl.errors.minlength">Minimum of 3 characters</p>
                                            <p *ngIf="lnameVl.errors.maxlength">Maximum of 70 characters</p>
                                            <p *ngIf="lnameVl.errors?.pattern">Last name must be string.</p>
                                        </div>
                                        </div>
                                        <div class="form-group">
                                          <label for="alias">Alias</label>
                                          <input type="text" class="form-control" id="alias" placeholder="Alias" [(ngModel)]="item.alias" name="alias" pattern="^[A-Za-z]+$" #aliasVl="ngModel" required minlength="3" maxlength="100">
                                        <div *ngIf="aliasVl.invalid && (aliasVl.dirty || aliasVl.touched)" class="text-danger">
                                            <p *ngIf="aliasVl.errors.required">Alias is required.</p>
                                            <p *ngIf="aliasVl.errors.minlength">Minimum of 3 characters</p>
                                            <p *ngIf="aliasVl.errors.maxlength">Maximum of 70 characters</p>
                                            <p *ngIf="aliasVl.errors?.pattern">Alias name must be string.</p>
                                        </div>
                                        </div>
                                      </div>
                                    </div>
                                    <h3 class="box-title m-b-30">
                                      Address 
                                      <button class="pull-right btn btn-default btn-rounded ml-3 add_address_button" type="button" id="" (click)="addNewRow('address')" ><i class="fa fa-plus-circle"></i></button></h3>
                                      <div class="address-row" *ngFor="let itemrow of arr.address; let i=index">
                                        <div class="form-group">
                                          <div class="input-group">
                                            <div class="input-group-btn">
                                              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select</button>
                                              <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Home</a>
                                                <a class="dropdown-item" href="#">Work</a>
                                                <a class="dropdown-item" href="#">Other</a>
                                              </div>
                                            </div>
                                            <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Street address, P.O. Box" [(ngModel)]="item.address" name="address" #addressVl="ngModel" required minlength="3" maxlength="100">
                                            <div *ngIf="addressVl.invalid && (addressVl.dirty || addressVl.touched)" class="text-danger">
                                                <p *ngIf="addressVl.errors.required">Address is required.</p>
                                                
                                            </div>
                                          </div>
                                        </div>

                                        <div class="form-group">
                                          <input type="text" class="form-control" id="street" placeholder="Suite No, Street name" [(ngModel)]="item.street" name="street" #streetVl="ngModel" required minlength="3" maxlength="100">
                                            <div *ngIf="streetVl.invalid && (streetVl.dirty || streetVl.touched)" class="text-danger">
                                                <p *ngIf="streetVl.errors.required">Street is required.</p>
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-9">
                                            <div class="form-group">
                                              <input type="text" class="form-control" id="building" placeholder="Apartment/Building" [(ngModel)]="item.building" name="building" #buildingVl="ngModel" required minlength="3" maxlength="100">
                                              <div *ngIf="buildingVl.invalid && (buildingVl.dirty || buildingVl.touched)" class="text-danger">
                                                  <p *ngIf="buildingVl.errors.required">Apartment/Building is required.</p>
                                                  
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-3">
                                            <div class="form-group">
                                              <div class="input-group">
                                                <select class="form-control" data-placeholder="Choose a State" tabindex="1" [(ngModel)]="item.state" name="building" #stateVl="ngModel" required>
                                                  <option value="State 1">Quadrant</option>
                                                  <option value="State 1">SE</option>
                                                  <option value="State 2">SW</option>
                                                  <option value="State 3">NE</option>
                                                  <option value="State 4">S</option>
                                                  <option value="State 4">N</option>
                                                  <option value="State 4">E</option>
                                                  <option value="State 4">W</option>
                                                </select>

                                              <div *ngIf="stateVl.invalid && (stateVl.dirty || stateVl.touched)" class="text-danger">
                                                  <p *ngIf="stateVl.errors.required">State is required.</p>
                                                  
                                              </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                        <div class="row">
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <label for="first_name">City</label>
                                              <input type="text" class="form-control" id="city" placeholder="City" [(ngModel)]="item.city" name="city" pattern="^[A-Za-z]+$" #cityVl="ngModel" required minlength="3" maxlength="100">
                                              <div *ngIf="cityVl.invalid && (cityVl.dirty || cityVl.touched)" class="text-danger">
                                                  <p *ngIf="cityVl.errors.required">City is required.</p>
                                                  <p *ngIf="cityVl.errors?.pattern">City name must be string.</p>
                                                  
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <label class="control-label">State/Province</label>
                                              <input type="text" class="form-control" id="province" placeholder="State/Province" pattern="^[A-Za-z]+$" [(ngModel)]="item.province" name="province" #provinceVl="ngModel" required minlength="3" maxlength="100">
                                              <div *ngIf="provinceVl.invalid && (provinceVl.dirty || provinceVl.touched)" class="text-danger">
                                                  <p *ngIf="provinceVl.errors.required">State is required.</p>
                                                  <p *ngIf="provinceVl.errors?.pattern">State name must be string.</p>
                                                  
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                        <div class="row">
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <label for="first_name">Postal Code / Zip Code</label>
                                              <input type="text" class="form-control" id="first_name" placeholder="Postal Code / Zip Code" pattern="^[0-9]+$" [(ngModel)]="item.zipcode" name="zipcode" #zipcodeVl="ngModel" required minlength="6" maxlength="10">
                                              <div *ngIf="zipcodeVl.invalid && (zipcodeVl.dirty || zipcodeVl.touched)" class="text-danger">
                                                  <p *ngIf="zipcodeVl.errors.required">Zipcode is required.</p>
                                                  <p *ngIf="zipcodeVl.errors?.pattern">Zipcode must be numeric.</p>
                                                   <p *ngIf="zipcodeVl.errors.minlength">Minimum of 6 characters</p>
                                            <p *ngIf="zipcodeVl.errors.maxlength">Maximum of 10 characters</p>
                                                  
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <label class="control-label">Country</label>
                                              <input type="text" class="form-control" id="Country" placeholder="Country" [(ngModel)]="item.country" pattern="^[A-Za-z]+$" name="country" #countryVl="ngModel" required minlength="3" maxlength="100">
                                              <div *ngIf="countryVl.invalid && (countryVl.dirty || countryVl.touched)" class="text-danger">
                                                  <p *ngIf="countryVl.errors.required">Country is required.</p>
                                                  <p *ngIf="countryVl.errors?.pattern">Country must be string.</p>
                                                  
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                        <button class="pull-right btn btn-default btn-rounded ml-3 add_address_button" type="button" id="" *ngIf="arr.address.length > 1" (click)="deleteRow('address',i)" ><i class="fa fa-times"></i></button>
                                      </div>
                                      
                                    
                                  </div>
                                </div>

                                <div class="col-md-6">
                                  <div class="white-box">
                                    <div class="form-group">
                                      <div class="row">
                                        <div class="col-md-12 scrollTable">
                                          <table data-toggle="table" data-height="270" data-mobile-responsive="true" class="table-striped table-sm">
                                              <thead>
                                                  <tr>
                                                      <th>First Name</th>
                                                      <th>Last Name</th>
                                                      <th>Alias</th>
                                                      <th>Phone</th>
                                                      <th>Status</th>
                                                  </tr>
                                              </thead>
                                              <tbody style="height: 200px; overflow: scroll;">
                                                <tr id="tr-id-1" class="tr-class-1">
                                                    <td id="td-id-1" class="td-class-1">bootstrap</td>
                                                    <td>526</td>
                                                    <td>122</td>
                                                    <td>extended</td>
                                                    <td>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">CLI</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">IND</button>
                                                      <button type="button" class="btn btn-xs btn-default btn-rounded fcbtn btn-1e">EXT</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">INT</button>
                                                    </td>
                                                </tr>
                                                <tr id="tr-id-1" class="tr-class-1">
                                                    <td id="td-id-1" class="td-class-1">bootstrap</td>
                                                    <td>526</td>
                                                    <td>122</td>
                                                    <td>extended</td>
                                                    <td>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">CLI</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">IND</button>
                                                      <button type="button" class="btn btn-xs btn-default btn-rounded fcbtn btn-1e">EXT</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">INT</button>
                                                    </td>
                                                </tr>
                                                <tr id="tr-id-1" class="tr-class-1">
                                                    <td id="td-id-1" class="td-class-1">bootstrap</td>
                                                    <td>526</td>
                                                    <td>122</td>
                                                    <td>extended</td>
                                                    <td>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">CLI</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">IND</button>
                                                      <button type="button" class="btn btn-xs btn-default btn-rounded fcbtn btn-1e">EXT</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">INT</button>
                                                    </td>
                                                </tr>
                                                <tr id="tr-id-1" class="tr-class-1">
                                                    <td id="td-id-1" class="td-class-1">bootstrap</td>
                                                    <td>526</td>
                                                    <td>122</td>
                                                    <td>extended</td>
                                                    <td>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">CLI</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">IND</button>
                                                      <button type="button" class="btn btn-xs btn-default btn-rounded fcbtn btn-1e">EXT</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">INT</button>
                                                    </td>
                                                </tr>
                                                <tr id="tr-id-1" class="tr-class-1">
                                                    <td id="td-id-1" class="td-class-1">bootstrap</td>
                                                    <td>526</td>
                                                    <td>122</td>
                                                    <td>extended</td>
                                                    <td>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">CLI</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">IND</button>
                                                      <button type="button" class="btn btn-xs btn-default btn-rounded fcbtn btn-1e">EXT</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">INT</button>
                                                    </td>
                                                </tr>
                                                <tr id="tr-id-1" class="tr-class-1">
                                                    <td id="td-id-1" class="td-class-1">bootstrap</td>
                                                    <td>526</td>
                                                    <td>122</td>
                                                    <td>extended</td>
                                                    <td>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">CLI</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">IND</button>
                                                      <button type="button" class="btn btn-xs btn-default btn-rounded fcbtn btn-1e">EXT</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">INT</button>
                                                    </td>
                                                </tr>
                                                <tr id="tr-id-1" class="tr-class-1">
                                                    <td id="td-id-1" class="td-class-1">bootstrap</td>
                                                    <td>526</td>
                                                    <td>122</td>
                                                    <td>extended</td>
                                                    <td>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">CLI</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">IND</button>
                                                      <button type="button" class="btn btn-xs btn-default btn-rounded fcbtn btn-1e">EXT</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">INT</button>
                                                    </td>
                                                </tr>
                                                <tr id="tr-id-1" class="tr-class-1">
                                                    <td id="td-id-1" class="td-class-1">bootstrap</td>
                                                    <td>526</td>
                                                    <td>122</td>
                                                    <td>extended</td>
                                                    <td>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">CLI</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">IND</button>
                                                      <button type="button" class="btn btn-xs btn-default btn-rounded fcbtn btn-1e">EXT</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">INT</button>
                                                    </td>
                                                </tr>
                                                <tr id="tr-id-1" class="tr-class-1">
                                                    <td id="td-id-1" class="td-class-1">bootstrap</td>
                                                    <td>526</td>
                                                    <td>122</td>
                                                    <td>extended</td>
                                                    <td>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">CLI</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">IND</button>
                                                      <button type="button" class="btn btn-xs btn-default btn-rounded fcbtn btn-1e">EXT</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">INT</button>
                                                    </td>
                                                </tr>
                                                <tr id="tr-id-1" class="tr-class-1">
                                                    <td id="td-id-1" class="td-class-1">bootstrap</td>
                                                    <td>526</td>
                                                    <td>122</td>
                                                    <td>extended</td>
                                                    <td>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">CLI</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">IND</button>
                                                      <button type="button" class="btn btn-xs btn-default btn-rounded fcbtn btn-1e">EXT</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">INT</button>
                                                    </td>
                                                </tr>
                                                <tr id="tr-id-1" class="tr-class-1">
                                                    <td id="td-id-1" class="td-class-1">bootstrap</td>
                                                    <td>526</td>
                                                    <td>122</td>
                                                    <td>extended</td>
                                                    <td>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">CLI</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">IND</button>
                                                      <button type="button" class="btn btn-xs btn-default btn-rounded fcbtn btn-1e">EXT</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">INT</button>
                                                    </td>
                                                </tr>
                                                <tr id="tr-id-1" class="tr-class-1">
                                                    <td id="td-id-1" class="td-class-1">bootstrap</td>
                                                    <td>526</td>
                                                    <td>122</td>
                                                    <td>extended</td>
                                                    <td>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">CLI</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">IND</button>
                                                      <button type="button" class="btn btn-xs btn-default btn-rounded fcbtn btn-1e">EXT</button>
                                                      <button type="button" class="btn btn-xs btn-success btn-rounded fcbtn btn-1e">INT</button>
                                                    </td>
                                                </tr>
                                              </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="phone-number-row" *ngFor="let itemrow of arr.phone; let i=index">
                                      <div class="form-group">
                                        <label for="exampleInputEmail1">Phone Number</label>
                                        <div class="input-group phoneValid"  >
                                          <div class="input-group-btn">
                                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select</button>
                                            <div class="dropdown-menu">
                                              <a class="dropdown-item" href="#">Cell</a>
                                              <a class="dropdown-item" href="#">Home</a>
                                              <a class="dropdown-item" href="#">Work</a>
                                            </div>
                                          </div>
                                          <input type="text" class="form-control" id="phone" data-error="Your Phone number is not valid."  [(ngModel)]="item.phone" name="phone" #phoneVl="ngModel" pattern="^[0-9]+$" minlength="10" maxlength="10" required>
                                              <div *ngIf="phoneVl.invalid && (phoneVl.dirty || phoneVl.touched)" class="text-danger phoneValidInput">
                                                  <p *ngIf="phoneVl.errors.required">Phone Number is required.</p>
                                                  <p *ngIf="phoneVl.errors?.pattern">Phone must be numeric.</p>
                                                  <p *ngIf="phoneVl.errors.minlength">Minimum of 10 characters</p>
                                            <p *ngIf="phoneVl.errors.maxlength">Maximum of 10 characters</p>
                                                  
                                              </div>


                                          <div class="ml-3">
                                            <label class="custom-control custom-radio">
                                              <input id="radio1" name="radio" type="radio" class="custom-control-input">
                                              <span class="custom-control-indicator"></span>
                                              <span class="custom-control-description">M</span>
                                            </label>
                                            <label class="custom-control custom-radio">
                                              <input id="radio1" name="radio" type="radio" class="custom-control-input">
                                              <span class="custom-control-indicator"></span>
                                              <span class="custom-control-description">T</span>
                                            </label>
                                          </div>
                                          <button class="btn btn-default btn-rounded ml-3 add_phone_number_button" type="button"  *ngIf="i == 0" (click)="addNewRow('phone')" id=""><i class="fa fa-plus-circle"></i></button>
                                          <button class="btn btn-default btn-rounded ml-3 add_phone_number_button" type="button" *ngIf="arr.phone.length > 1 && i != 0" (click)="deleteRow('phone',i)" id=""><i class="fa fa-times"></i></button>
                                        </div>
                                        <div class="help-block with-errors"></div>
                                      </div>
                                    </div>

                                    <div class="email-row" *ngFor="let itemrow of arr.email; let i=index">
                                      <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <div class="input-group emailValid">
                                          <div class="input-group-btn">
                                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select</button>
                                            <div class="dropdown-menu">
                                              <a class="dropdown-item" href="#">Main</a>
                                              <a class="dropdown-item" href="#">Home</a>
                                              <a class="dropdown-item" href="#">Work</a>
                                            </div>
                                          </div>
                                          <input type="email" class="form-control" aria-label="Text input with dropdown button" placeholder="example@email.com" data-error="That email address is invalid" [(ngModel)]="item.email" name="email"  #emailVl="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required >

                                          <div *ngIf="emailVl.invalid && (emailVl.dirty || emailVl.touched)" class="text-danger emailValidInput">
                                            <p *ngIf="emailVl.errors.required">Email is required.</p>
                                             <p *ngIf="emailVl.errors?.pattern || emailVl.errors?.maxlength || emailVl.errors?.minlength">Invalid Email.</p>
                                          </div>                                         

                                          <button class="btn btn-default btn-rounded ml-3 add_email_button" type="button"  *ngIf="i == 0" (click)="addNewRow('email')" id=""><i class="fa fa-plus-circle"></i></button>
                                          <button class="btn btn-default btn-rounded ml-3 add_email_button" type="button" *ngIf="arr.email.length > 1 && i != 0" (click)="deleteRow('email',i)" id=""><i class="fa fa-times"></i></button>
                                        </div>
                                        <div class="help-block with-errors"></div>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label for="exampleInputEmail1">Best Time To Contact</label>
                                      <div class="input-group clockpicker " data-placement="bottom" data-align="top" data-autoclose="true">
                                        <input type="text" class="form-control" value="13:14"
                                         [(ngModel)]="item.besttime" pattern="^[0-9]+$" name="besttime" #besttimeVl="ngModel" required minlength="3" maxlength="100">

                                        <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-time"></span>
                                        </span>

                                          
                                              <div *ngIf="besttimeVl.invalid && (besttimeVl.dirty || besttimeVl.touched)" class="text-danger">
                                                  <p *ngIf="besttimeVl.errors.required">Time is required.</p>
                                                  <p *ngIf="besttimeVl.errors?.pattern">Time must be numeric.</p>
                                                  
                                              </div>
                                      </div>
                                    </div>

                                    <div class="form-group mt-5">
                                      <label for="exampleInputEmail1">Notes</label>
                                      <textarea class="form-control" rows="5" [(ngModel)]="item.notes" name="notes"  #notesVl="ngModel" [(ngModel)]="item.notes" name="notes" #notesVl="ngModel" required minlength="3" maxlength="100"></textarea>
                                              <div *ngIf="notesVl.invalid && (notesVl.dirty || notesVl.touched)" class="text-danger">
                                                  <p *ngIf="notesVl.errors.required">Notes is required.</p>
                                                  
                                              </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="white-box">
                                        <!-- Nav tabs -->

                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active nav-item"><a href="#home" class="nav-link" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true"><span class="visible-xs"><i class="ti-home"></i></span><span class="hidden-xs"> CLI</span></a></li>
                                            <li role="presentation" class="nav-item"><a href="#profile" class="nav-link" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-user"></i></span> <span class="hidden-xs">IND</span></a></li>
                                            <li role="presentation" class="nav-item"><a href="#messages" class="nav-link" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-email"></i></span> <span class="hidden-xs">EXT</span></a></li>
                                            <li role="presentation" class="nav-item"><a href="#settings" class="nav-link" aria-controls="settings" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-settings"></i></span> <span class="hidden-xs">INT</span></a></li>
                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="home">
                                                <div class="col-md-12">
                                                    <!-- CLI -->
                                                    <div id="cl" class="form-group">
                                                      <label class="control-label">Refarrel Source</label>
                                                      <select class="form-control">
                                                        <option>Online</option>
                                                        <option>Industry Affiliate</option>
                                                        <option>Internal Refarrel</option>
                                                        <option>Prior Client</option>
                                                        <option>World of Mouth</option>
                                                        <option>Events/Promotion</option>
                                                        <option>Others</option>
                                                      </select>
                                                    </div>
                                                </div>
                                               
                                                <div class="clearfix"></div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="profile">
                                                <div class="col-md-12">
                                                    <!-- IND -->
                                                    <div id="ind">
                                                      <div class="form-group">
                                                        <label>Profession</label>
                                                        <select class="form-control">
                                                          <option>Student</option>
                                                          <option>Doctor</option>
                                                          <option>Teacher</option>
                                                          <option>Others</option>
                                                        </select>
                                                      </div>
                                                      <div class="form-group">
                                                        <label>Date of birth</label>
                                                        <div class="input-group">
                                                          <input type="text" class="form-control complex-colorpicker" id="datepicker-autoclose" placeholder="mm/dd/yyyy"[(ngModel)]="item.dob" name="dob" #dobVl="ngModel" required minlength="3" maxlength="100">
                                              
                                                          <span class="input-group-addon"><i class="icon-calender"></i></span>
                                                          <div *ngIf="dobVl.invalid && (dobVl.dirty || dobVl.touched)" class="text-danger">
                                                              <p *ngIf="dobVl.errors.required">Date of birth is required.</p>
                                                              
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <div class="form-group">
                                                        <button class="btn  btn-outline btn-rounded btn-default">Brokerage</button> 
                                                        <button class="btn btn-outline btn-rounded btn-default">Team</button>

                                                        <div class="pull-right">
                                                          <button class="btn btn-facebook waves-effect btn-rounded waves-light" type="button"> <i class="fa fa-facebook"></i> </button>
                                                          <button class="btn btn-twitter waves-effect btn-rounded waves-light" type="button"> <i class="fa fa-twitter"></i> </button>
                                                          <button class="btn btn-googleplus waves-effect btn-rounded waves-light" type="button"> <i class="fa fa-google-plus"></i> </button>
                                                          <button class="btn btn-linkedin waves-effect btn-rounded waves-light" type="button"> <i class="fa fa-linkedin"></i> </button>
                                                          <button class="btn btn-instagram waves-effect btn-rounded waves-light" type="button"> <i class="fa fa-instagram"></i> </button>
                                                        </div>
                                                      </div>
                                                      <div class="refarrel_row" id="refarrel_row">
                                                        <div class="form-group mt-5">
                                                          <label>Active Refarrel</label>
                                                          <select id="refarrel_status" class="form-control">
                                                            <option value="Yes">Yes</option>
                                                            <option value="No">No</option>
                                                          </select>
                                                        </div>
                                                      </div>
                                                      <div class="form-group">
                                                        <div class="form-group mt-5" id="refarrel_status_yes">
                                                          <select id="" class="form-control">
                                                            <option value="A">A</option>
                                                            <option value="B">B</option>
                                                            <option value="C">C</option>
                                                          </select>
                                                        </div>
                                                        <div class="form-group mt-5" id="refarrel_status_no">
                                                          <select id="" class="form-control">
                                                            <option value="Prospective">Prospective</option>
                                                            <option value="Non Prospective">Non Prospective</option>
                                                          </select>
                                                        </div>
                                                      </div>
                                                      <div class="form-group">
                                                        <div class="row">
                                                          <div class="col-md-12">
                                                            <label>Website</label>
                                                            <div class="input-group">
                                                              <span class="input-group-addon" id="basic-addon3">http://</span>
                                                              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"[(ngModel)]="item.website" name="website" #websiteVl="ngModel" required minlength="3" maxlength="100">
                                                              <div *ngIf="websiteVl.invalid && (websiteVl.dirty || websiteVl.touched)" class="text-danger">
                                                                  <p *ngIf="websiteVl.errors.required">Website is required.</p>
                                                                  
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="clearfix"></div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="messages">
                                                <div class="col-md-12">
                                                    <!-- EXT -->
                                                    <div id="ext" class="form-group">
                                                      <div class="row">
                                                        <div class="col-md-12">
                                                          <label class="">Association</label>
                                                          <textarea class="form-control" rows="5" [(ngModel)]="item.association" name="association" #associationVl="ngModel" required minlength="3" maxlength="100"></textarea>
                                                          <div *ngIf="associationVl.invalid && (associationVl.dirty || associationVl.touched)" class="text-danger">
                                                              <p *ngIf="associationVl.errors.required">Association is required.</p>
                                                              
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <div class="row mt-5">
                                                        <div class="col-md-12">
                                                          <label class="">Company</label>
                                                          <textarea class="form-control" rows="5" [(ngModel)]="item.company" name="company" #companyVl="ngModel" required minlength="3" maxlength="100"></textarea>
                                                          <div *ngIf="companyVl.invalid && (companyVl.dirty || companyVl.touched)" class="text-danger">
                                                              <p *ngIf="companyVl.errors.required">Company is required.</p>
                                                              
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                </div>
                                               
                                                <div class="clearfix"></div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="settings">
                                                <div class="col-md-6">
                                                    <h3>Just do Settings</h3>
                                                    <h4>you can use it with the small code</h4>
                                                </div>
                                                <div class="col-md-5 pull-right">
                                                    <p>Vulputate eget, fringilla vel, aliquet nec, daf adfd vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a.</p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                           
                                    </div>
                                </div>
                                <div class="col-md-12 mb-5">
                                  <div class="white-box">
                                    <div class="form-actions">
                                       <!--  <button type="button" onclick="showDiv('cl')" class="btn btn-sm btn-default btn-rounded fcbtn btn-1e">CLI</button>
                                        <button type="button" onclick="showDiv('ind')" class="btn btn-sm btn-default btn-rounded fcbtn btn-1e">IND</button>
                                        <button type="button" onclick="showDiv('ext')" class="btn btn-sm btn-default btn-rounded fcbtn btn-1e">EXT</button>
                                        <button type="button" onclick="showDiv('int')" class="btn btn-sm btn-default btn-rounded fcbtn btn-1e">INT</button> -->
                                      <div class="pull-right">
                                        <button type="submit" class="fcbtn btn btn-info btn-outline btn-1e " > <i class="fa fa-check" ></i> Create</button>
                                        <button type="submit" class="fcbtn btn btn-info btn-outline btn-1e"> <i class="fa fa-check"></i> Create and Add Another</button>
                                        <button type="button" class="fcbtn btn btn-danger btn-outline btn-1e" data-dismiss="modal">Cancel</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                                        
                    
                </div>
                <!---------------=========------------------>
                
                               
                
                <!-- /.right-sidebar -->
            </div>
            <!-- /.container-fluid -->
           
        </div>